<footer class="footer">
	<div class="container">
	  <nav>
	    <ul style="padding-right: 120px;">
	      <li><%= link_to "OwnYourData.eu", 'https://www.ownyourdata.eu' %> © 2020</li>
	      <li><%= link_to t('footer.privacy'), t('footer.privacy_url'), class: 'hidden-xs' %></li>
	      <li><%= link_to t('footer.imprint'), t('footer.imprint_url'), class: 'hidden-xs' %></li>
	    </ul>
	  </nav>
	</div>
</footer>
