<header class="navbar">
    <div class="container">
        <div class="row">
            <div class="col-xs-2">
                <% if session[:desktop] == "1" %>
                    <div class="logo-txt" style="margin-top: -8px;">
                        <a href="<%= @pia_url || '#' %>" class="font-size-large" style="margin-right: -20px; text-decoration: none; color: #666666;">
                            <i class="fa fa-arrow-left"></i>
                        </a>
                    </div>
                <% else %>
                    <div class="oyd-logo"></div>
                <% end %>
            </div>
            <div class="col-xs-8">
                <% if session[:desktop] == "1" %>
                    <h1 style="text-align: center; margin-top: 7px;"><%= t('general.title') %></h1>
                <% end %>
            </div>
            <div class="col-xs-2">
                <ul style="float:right; white-space: nowrap;">
                    <div class="btn-group dropdown" style="margin-top:15px;">
                        <a href="#" class="dropdown-toggle fakelink" data-toggle="dropdown">
                            <span class="glyphicon glyphicon-cog"  style="font-size:25px;"></span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li><%= link_to t('general.configuration_menu'), app_config_path %></li>
                        </ul>
                    </div>
                </ul>
            </div>
        </div>
    </div>
</header>